{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/singin.css' %}">

     <!-- Latest compiled and minified CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

     <!-- Latest compiled JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
 
</head>

<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-1" role="alert">
      <strong>College Management System !</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="container" style="background-color:white;">
        <div class="row">
            <center>

            <div class="col-md-6" >


                <div class="container1 ms-md-2 ms-4">
                    <div class="heading">Change Password</div>
                    <form action="changepwd" class="form" method="get">
                        {% comment %} {% csrf_token %} {% endcomment %}
                      <input required="" class="input" type="text" name="un" placeholder="UserName">
                      {% comment %} <input required="" class="input" type="email" name="em" placeholder="Email id">
                      <input required="" class="input" type="text" name="cn"  placeholder="Contact no"> {% endcomment %}
                      <input required="" class="input" type="password" name="pwd" placeholder="New Password">
                      <!-- <span class="forgot-password"><a href="#">Forgot Password ?</a></span> -->
                      <input class="login-button" type="submit" value="CHANGE" >
                      
                    </form>
                    <div class="social-account-container">
                     
                        <div class="social-accounts">
                          
                        </div>
                      </div>
                      <span class="agreement"><a href='login'><- Back to Login -></a></span>
                  </div>
            </div>
        </center>

        </div>
    </div>
</body>
</html>